body{
    background-color: #fefbd8;
}

h1{
    text-align: center;
    margin-top: 3vh;
}

section{
    border: solid black 3px;
    background-color: #36486b;
    width: 610px;
    height: 610px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

section div{
    border: solid black 2px;
    border-radius: 20px;
    width: 26%;
    height: 26%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.square1{
    background-color: #77AADD;
}
.square2{
    background-color: #99DDFF;
}
.square3{
    background-color: #44BB99;
}
.square4{
    background-color: #BBCC33;
}
.square5{
    background-color: #AAAA00;
}
.square6{
    background-color: #EEDD88;
}
.square7{
    background-color: #EE8866;

        
    animation-name: xMove;
    animation-duration: 3s;
}
.square8{
    background-color: #FFAABB;
}
.square9{
    background-color: #DDDDDD;
}


.square1:hover{
    transform: translate(50px);
}

.square2:hover{
    transform: scale(2, 2);
}

.square3:hover{
    transform: rotateX(180deg);
    transition-duration: 1s;
}

.square4:hover{
    transform: rotateZ(180deg);
    transition-duration: 1s;
}

.square5:hover{
    transform: skewY(90deg);
}

.square6:hover{
    background-color: deepskyblue;
    transition-duration: 1s;
}

@keyframes xMove{
    0% {left: 20px}
    100% {left: 700px}
}
.square7:hover{
    animation-name: xMove;
    animation-duration: 3s;
}